<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title th:text="#{title.addmusic}">Add music</title>
</head>
<body>
<div layout:fragment="content">
    <form class="musicform"
          th:action="@{/addmusic}"
          th:object="${music}"
          method="post" autocomplete="off">
        <div class="row">
            <label for="link"><i class="fas fa-external-link-square-alt"></i> <nobr th:text="#{musics.link}">Link</nobr></label>
            <input type="text" th:field="*{link}" id="link" th:placeholder="#{musics.link}">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
        </div>
        <div class="row">
            <label for="description"><i class="fas fa-comment-medical"></i> <nobr th:text="#{musics.description}">Description</nobr></label>
            <input type="text" th:field="*{description}" id="description" th:placeholder="#{musics.description}">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-outline-dark" th:value="#{musics.addthemusic}">
        </div>
    </form>
</div>
</body>
</html>