<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Tableau de bord</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Bonjour [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>Tableau de bord</h2>
    <div sec:authorize="isAuthenticated()">
        Authentifié sous le nom de <span sec:authentication="name">NomDefaut</span> avec comme rôle : <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>
</div>
</body>
</html>