<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>ShareYourMusic</title>
</head>
<body>
<div layout:fragment="content">
    <!--
    <h1>Bienvenue !</h1>

    <p>Cliquez <a th:href="@{/login}">ici</a> pour vous connecter.</p>
    -->
    <table class="board">
        <tr>
            <td>Link</td>
            <td>Id</td>
            <td>Title</td>
            <td>Artist</td>
            <td>Posted by</td>
            <td>Date</td>
        </tr>
        <tr>
            <td>Link</td>
            <td>Id</td>
            <td>Title</td>
            <td>Artist</td>
            <td>Posted by</td>
            <td>Date</td>
        </tr>
    </table>
 </div>
 </body>
 </html>