<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Identification</title>
</head>
<body class="text-center">
<div layout:fragment="content">
    <form class="form-signin" th:action="@{/login}" method="post">
        <i class="fas fa-user mb-4" style="font-size:64px"></i>
        <h1 class="h3 mb-3 font-weight-normal">Connexion à votre compte</h1>
        <div th:if="${param.error}">
            Email et mot de passe invalide.
        </div>
        <div th:if="${param.logout}">
            Vous avez été déconnecté.
        </div>
        <label for="inputEmail" class="sr-only">Adresse mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="on" required=""/>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="on" required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </form>
    <form class="form-signin" th:action="@{/signup}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit" value="submit">S'enregistrer</button>
    </form>
</div>
</body>