<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Edition de la musique | ShareYourMusic</title>
</head>
<body>
<div layout:fragment="content">
    <form class="musicform"
          action="#"
          th:action="@{/update/{id}(id=${music.id})}"
          th:object="${music}"
          method="post" autocomplete="off">
        <label for="link">Lien</label>
        <input type="text" th:field="*{link}" id="link" placeholder="Lien">
        <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span><br>
        <label for="artist">Artiste</label>
        <input type="text" th:field="*{artist}" id="artist" placeholder="Artiste">
        <span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></span><br>
        <label for="title">Titre</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Titre">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
        <input type="submit" value="Mettre à jour la musique">
    </form>
</div>
</body>
</html>